<div class="row">
  <div class="col-md-6 mx-auto p-0">
    <div class="card">
      <div class="login-box">
        <div class="login-snip"> 
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
          <label for="tab-1" class="tab">Login</label> 
          <input id="tab-2" type="radio" name="tab" class="sign-up">
          <label for="tab-2" class="tab">Sign Up</label>
            <div class="login-space">
              <div class="login">
                <%= notice %>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="group">
                  <%= f.label :email, class: 'label' %>
                  <%= f.text_field :signin, 
                                    autofocus: true, 
                                    class: 'input',
                                    placeholder: 'Email, Username, First or Last name' %>
                </div>
                <div class="group">
                  <%= f.label :password, class: 'label' %>
                  <%= f.password_field :password, 
                                        class: 'input',
                                        placeholder: 'Password' %> 
                </div>
                <div class="group">
                  <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me, checked:'checked', class:'check' %>
                  <%= f.label :remember_me, class: 'label' %>
                  <% end %>
                </div>
                <div class="group">
                  <%= f.submit "LOGIN", class:'button' %> 
                </div>
                <div>
                  <div class="col-md-12">
                    <ul class="social-network social-circle social-links">
                      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="hr"></div>
                <div class="foot"> 
                  <a href="#">Forgot Password?</a> 
                </div>
                <% end %>
              </div>
                <%= render 'devise/registrations/new.html.erb' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


