<%
=begin%>
 <div class="row">
  <div class="col-md-6 mx-auto p-0">
    <div class="card">
      <div class="login-box">
        <div class="login-snip"> 
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
          <label for="tab-1" class="tab">Sign In</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up">
          <label for="tab-2" class="tab">Sign Up</label>
            <div class="login-space">
              <div class="login">
                <%= notice %>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="group">
                  <%= f.label :email, class: 'label' %>
                  <%= f.text_field :signin, 
                                    autofocus: true, 
                                    class: 'input',
                                    placeholder: 'Email or Username' %>
                </div>
                <div class="group">
                  <%= f.label :password, class: 'label' %>
                  <%= f.password_field :password, 
                                        class: 'input',
                                        placeholder: 'Password' %> 
                </div>
                <div class="group">
                  <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me, checked:'checked' %>
                  <%= f.label :remember_me %>
                  <% end %>
                </div>
                <div class="group">
                  <%= f.submit "SIGN IN", class:'button' %> 
                </div>
                <div>
                  <div class="col-md-12">
                    <ul class="social-network social-circle social-links">
                      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="hr"></div>
                <div class="foot"> 
                  <a href="#">Forgot Password?</a> 
                </div>
                <% end %>
              </div>
                <%= render 'devise/registrations/new.html.erb' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<%
=end%>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div  class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid" alt="Work Image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="h1 lead fw-normal mb-0 me-3 text-center">Storify
              <small class="text-muted">your daily logbook</small>
            </p>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Sign in</p>
          </div>

          <div class="form-outline mb-4">
            <%= f.text_field :signin, 
                              autofocus: true, 
                              class: 'form-control form-control-lg',
                              placeholder: 'Email or username' %>
          </div>
          <div class="form-outline mb-3">
            <%= f.password_field :password, 
                                  class: 'form-control form-control-lg',
                                  placeholder: 'Password' %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
              <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me, checked:'checked', class: 'form-check-input me-2' %>
              <%= f.label :remember_me, class: 'form-check-label' %>
              <% end %>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <%= f.submit "SIGN IN", class:'btn btn-primary btn-lg' %>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account? 
              <a href="#!" class="link-danger">Register</a>
            </p> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    
    <div class="text-white mb-3 mb-md-0">
      Copyright @ 2021. All rights reserved.
    </div>
  </div>
</section>


