<%= render 'home/dashboard' %>
<div class="task-dashboard">
  <h1>Categories</h1>
  <p id="notice"><%= notice %></p>
  <table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Date Created</th>
      <th>Time</th>
      <th colspan="4"><th>
      </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.date_created.strftime("%B %d, %Y") %></td>
        <td><%= category.date_created.strftime("%I:%M %p") %></td>
        <td><%= link_to 'SHOW TASKS', category_tasks_path(category), class:'btn btn-info' %></td>
        <td><%= link_to 'EDIT', edit_category_path(category), class:'btn btn-primary' %></td>
        <td><%= link_to 'DELETE', category, method: :delete, data: { confirm: 'Delete this Category?'}, class:'btn btn-danger'%></td>
      </tr>
      <% end %>
    <tbody>
  </table>
  <br>
  <%= link_to 'Add Category', new_category_path, class:'btn btn-success' %>
</div>
